button{
cursor: pointer;
}

img {
  display: block;
}

a{
  text-decoration: none;
  color: inherit;
}

.gallery{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding-top: 60px;
}

.info{
  display: flex;
  justify-content: space-around;
}

.info-item{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form{
  text-align: center;
}

.form-wrapper{
  background-color: rgb(54, 82, 167);
  padding: 10px;
  width: 100%;
position: fixed;
  z-index: 1;
}

.button:hover,
.button:focus {
  background-color: #b5b5af;
  border-color: #46a5ce;
}

.load-more-wrapper{
  display: flex;
  justify-content: center;
  padding: 15px;
}

.photo-card{
  box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  object-fit:cover;
  overflow: hidden;

  transition: transform 250ms linear;
}

.photo-card:hover,
.photo-card:focus {
  transform: scale(1.05);
}